html {
    background-color: #2980b9; 
    color: #fff;
    font-family: Ubuntu,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    text-align: center;
}
p {
    line-height: 1.4em;
}
body, section {
    margin: 0;
}

ul, li {
    text-align: left;
}

section, footer {
    padding: 2.5rem 1vw 3rem;
}

@media only screen and (min-width: 768px) {
    section {
        padding-left: 17vw;
        padding-right: 17vw;
    }
}

.about, .history {
    background-color: #fff;
    color: #222;
}
h2 {
    display: inline-block;
    font-size: 2.05rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.7rem;
}
.history, .support p, .contact p, footer p {
    font-size: smaller;
}

@media only screen and (min-width: 768px) {
    section.history  {
        padding-left: 25vw;
        padding-right: 25vw;
    }
}
.history h3 {
    font-size: 1rem;
    text-align: left;
    margin: 0;
}
.history ul {
    margin: .5rem 0;
}
input, textarea {
    font: inherit;
    font-size: .7rem;
    box-shadow: inset 0 0 0 rgba(0,0,0,.125);
}
input[type=text], input[type=email], textarea {
    height: 1.5rem;
}
input[type=submit] {
    font-size: 1rem;
    color: #fff;
    background-color: #45a1de;
    outline: 0;
    padding: 10px 16px;
    border: 1px;
    border-color:#3498DB;
    text-decoration: none;
    line-height: 1.33;
    font-weight: 700;
    border: 1px solid transparent;
}
#name, #email, #message {
    width: 95%;
    margin: 7px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding-left: .3rem;
    padding-right: .3rem;
}
#message {
    height: 8rem;
}

#imgfortext, #imgforenter {
    display: block;
}
#imgforenter {
    transform: rotate(180deg);
}


/*TODO remove img and other stuff above this line as needed */

.appwithhelp div {
  background-color: pink;
}
.appwithhelp {
  margin: 0;
  padding: 3rem 1.5rem;

  display: grid;
  grid-template-columns: 2fr 64.12vw 2fr;
  /* no real reason anymore for height of each row */
  grid-template-rows: repeat(12, 1rem);
  grid-gap: 1rem;
}
/* hide the arrows and their labels on mobile */
@media only screen and (max-width: 768px) {
    .app #arrow1, .app #arrow2, #texthelp1, #texthelp2 {
        display: none;
    }
    #app {
        grid-column: 1 / 4;
    }
    .appwithhelp {
        padding: 3rem 0;
        grid-template-columns: 0fr 90vw 0fr;
    }
}
#arrow1, #arrow2 {
  display: block;    /*so larrow is flush */
  width: 80px;       /*so larrow is flush */
  height: 80px;      /*so larrow is flush */
}
#arrow1 {
  grid-column: 1 / 2;
  grid-row: 5/ 8;
  margin-left: auto;  /*so larrow is flush */
  margin-right: 0;    /*so larrow is flush */
}
#texthelp1 {
  grid-column: 1 / 2;
  grid-row: 8 / 13;
}
#app {
  grid-column: 2 / 3;
  grid-row: 1 / 13;
}
#texthelp2 {
  grid-column: 3 / 4;
  grid-row: 7 / 10;
}
#arrow2 {
  grid-column: 3 / 4;
  grid-row: 10 / 13;
}
#arrow2 img {
  transform: rotate(180deg);
}

.app {
    padding: 0;
    margin: 0;
}






nav ul {
  padding : 0;
  margin: 0;
  text-align: center;
}

header {
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 1.43;
}
header *, header *:before, *:after {
  box-sizing: inherit;
  color: inherit;
  font-size: inherit;
  /* text-align produces diffs */
  line-height: inherit;
}


nav {
    background-color: #60b5cc;
}
nav ul,
nav li, nav li a {
    text-decoration: none;
    list-style-type: none;
    color: #34495E;
}
nav ul li {
    display: inline-block;
    padding: 1em;
    margin: 0 1.5em;

    font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
    color: #293c4b;
}
.brand {
    background-color: #9b261d;
    text-shadow: 2px 2px 2px #333333;
    padding: 20px 0;
    position: relative;
}
header h1,
header h2,
header h3,
header h4 {
    margin: 10px 0;
}
header h1 {
    font-family: museo-slab, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 80px;
    letter-spacing: -2px;
    margin-top: 25px;
    font-weight: 500;
}
header h2 {
    margin-bottom: 35px;
    margin-top: 15px;
    font-size: 30px;
    line-height: 1.3;
    margin: 0 0 10px;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.github {
    position: absolute;
    top: 0;
    right: 0;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
}
footer h3 {
    text-transform: uppercase;
}
.fcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
}
#a2 img {
    width: 54px;
    height: 54px;
}

footer {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.trailer {
    color: #fff;
    background: #1a252f;
    font-size: smaller;
    padding: 1.5em 0;
    width: 100%;
}
.trailer, .trailer a, .trailer p {
    margin: 0;
}
